@CHARSET "UTF-8";
.aroundWrapper{
	height:100%;
	display:grid;
	grid-template-rows:70% 30%;
	grid-row-gap:20px;
}
#map{
	margin:auto;
	width:90%;
	height:100%;
}
.aroundFestivalTable{
	font-family: NanumGothic;
	text-align:left;
	padding-left:20px;
	
}
.aroundFestivals{
	height:150px;
	border:2px solid #039BE5;
	margin-bottom:5px;
	display:grid;
	grid-template-columns:40% 40% 20%;
	align-items:center;
}
.aroundImg{
	height:100%;
	width:95%;
	align-content:center;
	justify-content:center;
	padding-right:5%;
	border-right:2px solid #039BE5;
}
.aroundImg img{
	width:100%;
	max-height:100%;
}
.aroundTitle{
	height:100%;
	width:95%;
	border-right:2px solid #039BE5;
	display:flex;
	align-items:center;
	padding-left:5%;
}
