@CHARSET "UTF-8";

::-webkit-scrollbar {
	display: none;
}

.calendarWrapper {
	height: 100%;
	width: 100%;
}

#calendar {
	height: 95%;
	width: 100%;
	display: grid;
	grid-template-rows: 10% 90%;
	align-self: center;
}
#date{
	border-bottom:1px solid black;
}
#date:hover{
	color:#304FFE;
}
.current {
	display: flex;
	align-items: center;
	font-size: 120%;
	justify-content: center;
	font-family: NanumGothic;
}

#dates {
	display: grid;
	grid-template-rows: 10% 90%;
	height: 100%;
	border: 2px solid black;
}
.week_record {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	height: 400px;
}


#monthField {
	background-color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.week_character {
	display: grid;
	border-bottom: 1px solid black;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	font-family: NanumGothic;
	height: 100%;
	width: 100%;
}



.day_of_the_week {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid black;
	font-size:20px;
}

.date_div {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 10% 90%;
	font-weight: bold;
	border:1px solid #ECEFF1;
}

.title_span {
	margin-top: 10px;
	margin-bottom: 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:left;
	padding:0 15px;
	color:#304FFE;
}

.title_div {
	display: flex;
	font-family: NanumGothic;
	font-size: 90%;
	flex-direction: column;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

.date_number {
	margin-top:5px;
	text-align: left;
	padding-left:10px;
	font-size:18px;
}

@media only screen and (min-width: 768px) {

	#dialog_field {
		font-family: NanumGothic;
		display: grid;
		grid-template-rows: 20% 60% 20%;
		align-items: center;
		position: absolute;
		width: 30%;
		height: 40%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 2px solid black;
		background-color: rgba(255, 255, 255, 0.5);
	}
	#dialog_body, #dialog_footer {
		font-family: NanumGothic;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		justify-content: center;
		align-content: center;
	}
	#dialog_body span {
		width: 100%;
		height: 100%;
	}
	#dialog_body span select {
		font-family: NanumGothic;
		width: 90%;
		height: 120%;
	}
	#dialog_footer span {
		font-size: 120%;
		font-weight: bold;
	}
}
@media only screen and (max-width: 768px) {

#dialog_field {
		font-family: NanumGothic;
		display: grid;
		grid-template-rows: 20% 60% 20%;
		align-items: center;
		position: absolute;
		width: 70%;
		height: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 2px solid black;
		background-color: rgba(255, 255, 255, 0.5);
	}
	#dialog_body, #dialog_footer {
		font-family: NanumGothic;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		justify-content: center;
		align-content: center;
	}
	#dialog_body span {
		width: 100%;
		height: 100%;
	}
	#dialog_body span select {
		font-family: NanumGothic;
		width: 90%;
		height: 120%;
	}
	#dialog_footer span {
		font-size: 120%;
		font-weight: bold;
	}
}