@CHARSET "UTF-8";

@font-face {
	font-family: "BaminDohyeon";
	src: url("../font/Baemin/BMDOHYEON_ttf.ttf");
}
@font-face{
	font-family: "Exo_2";
	src: url("../font/exo-2/Exo2-Regular.otf");

}
@font-face{
	font-family: "NanumGothic";
	src: url("../font/Nanum/NanumGothicBold.ttf");
}

/* PC웹 */
@media only screen and (min-width: 768px) {
	html, body {
		margin: 0;
		padding: 0;
		height:100%;
		background-color: #FFFFFF;
	}
	.wrapper {
		display: grid;
		grid-template-rows: 10% 90%;
	}
	.contentBody{
		display:grid;
		grid-template-columns:1fr 1028px 1fr;
	}
	.contentMargin {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 100%;
		overflow: auto;
	}
	.header {
		height: 100%;
		width: 100%;
	}
	.titleArea {
		background-color: #002c62;
		width: 100%;
		height:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		
	}
	.webTitleArea {
		font-family: BaminDohyeon;
		font-size: 30px;
		width:100%;
		text-align:center;
	}
	#imgIconTd {
		visibility: visible;
		position: absolute;
		top: 10px;
		left: 12%;
		cursor: pointer;
	}
	#imgStyle {
		width: 50px;
		height: 50px;
	}
	.webContentArea {
		width: 1200px;
		text-align: center;
	}
	.tabSlideManu {
		width: 370px;
		height: 730px;
		background-color: #FFF59D;
		position: absolute;
		left: 0px;
		top: 60px;
		z-index: 2;
	}
	.tabSubManu {
		display: grid;
		border-bottom: #FFDE03 solid 2px;
		height: 50px;
		text-align: center;
		align-items: center;
		cursor: pointer;
		font-size: 15px;
		font-weight: bolder;
		color: #616161;
	}
	.tabSubManu:hover {
		background-color: #FFFFFF;
	}
	#tabManuImg {
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	.homeContentsArea {
		display: grid;
		height: fit-content;
		width: 100%;
	}
	.imageSlide {
		display: inherit;
		justify-self: center;
		width: 80%;
	}
	.mediaFrame {
		display: inherit;
		justify-content: center;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.manuTable {
		display: none;
	}
	.introduceTitle {
		margin: 0;
		display: block;
		height: 100%;
		width: 100%;
		font-size: 25px;
		font-weight: bold;
	}
	.mainVideoArea {
		height: 100%;
		width: 100%;
		justify-content: center;
	}
	.mainVideo {
		margin: 0;
		width: 150%;
		height: 200%;
	}
}

/* 모바일 */
@media only screen and (max-width: 768px) {
	::-webkit-scrollbar {
		display: none;
	}
	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
	}
	.wrapper {
		background-color: #FFFFFF;
		display: grid;
		grid-template-rows: 9% 82% 9%;
	}
	.header {
		height: 100%;
		width: 100%;
	}
	.titleArea {
		height: 100%;
	}
	.webTitleArea {
		height: 100%;
		width: 100%;
		background-color: #002c62;
		font-family: BaminDohyeon;
	}
	#webTitleTd{
		font-size: 30px;
		text-align:center;
	}
	#imgIconTd {
		display: none;
	}
	.bodyMargin{
		display:none;
	}
	.contentMargin {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	.footer {
		height: 100%;
		width: 100%;
	}
	.manuTable {
		width: 100%;
		height: 100%;
		background-color: #575f74;
		font-family: TitleText;
	}
	.manuTable td{
		font-family:Exo_2;
		font-weight:bold;
		font-size:12px;
	}
	.homeContentsArea{
		display:grid;
		height:fit-content;
		width:100%;
		margin-top: 20px;
	}
	.imageSlide {
		display: inherit;
		justify-self: center;
		width: 95%;
		height: 100%;
	}
	.bxslider{
		width: 100%;
	}
	.tabSlideManu{
		display:none;
	}
	.mediaFrame {
		display: inherit;
		justify-content: center;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.introduceTitle {
		font-size: 25px;
		font-weight: bold;
	}
	.mainVideoArea {
		height: 100%;
		width: 100%;
		justify-content: center;
	}
	.mainVideo {
		margin:0;
		width: 98%;
		height: 330px;
		
	}
	.detailPageArea{
		border: #FFFFFF solid 2px;
		width: 98%;
	}
}